@{    
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<OnlineStore.Models.ShoppingCart>

@foreach (var listItem in Model) {
    <h2>@Html.DisplayFor(modelItem => listItem.ProductId)</h2>

    if (listItem.ProductCount == 0)
    {
        <h3>Your shopping cart is empty!</h3>
    }
}