@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<OnlineStore.Models.Product>

<h1>All Women's Clothing</h1>

<div class="container-fluid">
    @foreach (var listItem in Model)
    {
        if (listItem.CategoryId == 1)
        {

            <div class="col-sm-4">
                <div class="card">
                    <a href="@Url.Action("Details", new { id = listItem.Id })">
                        <img src="@Html.DisplayFor(modelProduct => listItem.Image)" alt="Clothing" style="width:100%">
                        <div class="card-block">
                            <h3 class="card-title text-center">@Html.DisplayFor(modelItem => listItem.Name)</h3>
                            <h3 class="card-text text-center">$@Html.DisplayFor(modelItem => listItem.Price)</h3>
                        </div>
                    </a>
                </div>
            </div>

        }
    }
</div>